<div class="container">
  <div class="row">
    <div class="brand col-sm-4 xxl-text fw-bold ms-auto me-auto mt-5">
      rent<span>.it</span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <form class="card col-sm-4 md-text" [formGroup]="signupForm">
      <div class="w-75 ms-auto me-auto">
        <h1 class="fw-normal">Creeaza cont</h1>

        <div class="form-group">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" fill="#6c757d" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <input type="text" placeholder="Nume utilizator" class="form-control" id="username" formControlName="username">
        </div>

        <div class="form-group mt-3 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" fill="#6c757d" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg>
          <input type="password" placeholder="Parola" class="form-control" id="password" formControlName="password">
        </div>

        <div class="form-group mt-3 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" fill="#6c757d" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg>
          <input type="password" placeholder="Confirmare parola" class="form-control" id="passwordConfirm" formControlName="passwordConfirm">
        </div>
      </div>

      <div class=" d-flex flex-column w-75 ms-auto me-auto mt-4 mb-4">
        <button type="submit" class="btn btn-primary md-text">Creeaza cont</button>
        <a class="form-link ms-auto me-auto mt-2 fw-light" routerLink="/login">Ai cont? Logheaza-te!</a>

        <div *ngIf="submitted && !signupForm.valid" class="alert alert-danger mt-3 fw-light">
          <div *ngIf="username.errors && !username.errors['required']">
            Username tre sa aibe:
            <ul>
              <li *ngIf="username.errors['pattern']">doar litere</li>
              <li *ngIf="username.errors['minlength']">minim 3 caractere</li>
              <li *ngIf="username.errors['maxlength']">maxim 20 caractere</li>
            </ul>
          </div>
          <div *ngIf="password.errors && !password.errors['required']">
            Parola tre sa aibe:
            <ul>
              <li *ngIf="password.errors['hasLowerCase'] == false">1 litera mica</li>
              <li *ngIf="password.errors['hasUpperCase'] == false">1 litera mare</li>
              <li *ngIf="password.errors['hasDigit'] == false">1 cifra</li>
              <li *ngIf="password.errors['hasSymbol'] == false">1 simbol</li>
              <li *ngIf="password.errors['isLongEnough'] == false">minim 12 caractere</li>
              <li *ngIf="password.errors['hasNoSpace'] == false">0 spatii</li>
            </ul>
          </div>

          <div *ngIf="username.errors && password.errors; else individualErrors">
            <div *ngIf="username.errors && password.errors && username.errors['required'] && password.errors['required']; else individualErrors">Baga numele si parola</div>
          </div>
          <ng-template #individualErrors>
            <div *ngIf="username.errors">
              <div *ngIf="username.errors['required']">Baga numele</div>
            </div>
            <div *ngIf="password.errors">
              <div *ngIf="password.errors['required']">Baga parola</div>
            </div>
          </ng-template>

          <div *ngIf="passwordConfirm.errors && !password.errors">Parola nu este confirmata</div>
        </div>
      </div>
    </form>
  </div>
</div>
