<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>

<div class="container">
  <h1 class="xxl-text text-center">Alege masina</h1>
  <div class="mt-5 mb-5">{{orders[orders.length-1] | json}}</div>
  <div *ngFor="let car of availableCars" class="row pb-5">
    <div  class="col-sm-4 no-padding">
      <img class="w-100" [alt]="car.name" [src]="carImage(car.name)">
    </div>
    <div  class="col-sm-8 d-flex no-padding car-details">
      <p class="text-uppercase md-text mt-3 ms-3">{{car.name}}</p>
      <button type="button" class="btn btn-warning w-25 h-25 mt-auto me-3 mb-3 ms-auto md-text"
          (click)="rentCar(car)">Inchiriaza</button>
    </div>
  </div>
</div>
