<nav class="navbar navbar-fixed-top bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand xxl-text">Rent IT</a>
        <ul class="navbar-nav xl-text">
            <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active-link">Acasa</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active-link">Despre Noi</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/orders" routerLinkActive="active-link">Orders</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>