.container-fluid {
  background-color: #f5f7fc;
}
h1 {
  margin-top: 0;
}
.slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}
.slider::-webkit-scrollbar {
  width: 0;
}
.slider:hover {
  cursor: grab;
}
.active {
  cursor: grabbing!important;
}
.car-wrapper {
  background-color: white;
  border-radius: .5rem;
  width: 26rem;
}
.car-details {
  display: flex;
  justify-content: space-evenly;
}
.car-details > p:not(:last-child) {
  border-right: 1px solid #ced4da;
}
.car-rent-price::first-letter {
  padding-right: 0.25rem;
}
