.navbar-nav {
  flex-direction: row;
}
.nav-item {
  margin-left: 3rem;
}
.active-link {
  pointer-events: none;
  color: white!important;
}
.door-nav-item {
  margin-left: 1.5rem;
  line-height: 2.5rem;
}
