header {
  background-color: var(--bleumarine);
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: left;
}
.header-link {
  text-decoration: none;
  color: white;
}
.header-link:hover {
  color: var(--light-orange);
}
.navbar {
  border-bottom: var(--bleumarine) 3px solid;
}
.navbar-nav {
  flex-direction: row;
}
.nav-item {
  margin-left: 3rem;
}
.navbar-brand {
  color: var(--light-blue);
}
.navbar-brand > span {
  color: var(--light-orange);
}
.nav-link {
  color: var(--light-blue);
}
.nav-link:hover {
  color: var(--light-orange);
}
.active-link {
  pointer-events: none;
  color: var(--light-orange);
}
.door-nav-item {
  margin-left: 1.5rem;
  line-height: 1.75rem;
}
