.container-fluid {
  background-image: url('../../../../assets/images/background.jpg');
  background-size: cover;
  background-color: rgba(0,40,95,.5);
  background-blend-mode: screen;
  background-position-y: 75%;
  padding-top: 5rem;
  padding-bottom: 10rem;
}
h1 {
  color: white;
}
.form-group {
  position: relative;
}
.form-group > svg {
  position: absolute;
  left: 1.5rem;
  top: 2.5rem;
}
select {
  height: 3rem;
  padding-left: 2rem;
}
.mat-form-field {
  height: 3rem;
}
.mat-form-field svg {
  position: absolute;
  vertical-align: middle;
}
input {
  margin-left: 1.5rem;
  vertical-align: middle;
}
::ng-deep.mat-form-field-infix {
  border: 0;
}
::ng-deep.mat-form-field-underline {
  display: none;
}
.ng-invalid:not(form)  {
  background-color: var(--light-gray);
}
button {
  height: 3rem;
  width: 9rem;
  margin-top: 1.5rem;
  position: relative;
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  border-width: 2px;
  transition: .4s;
}
button > svg {
  position: absolute;
  left: 1rem;
  top: .75rem;
}
button:hover {
  background-color: transparent;
  color: var(--light-blue);
}
