/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Manrope');

:root {
  --light-gray: #f8d7da;
  --bleumarine: #00285f;
  --light-blue: #0028e1;
  --orange: #ed5506;
  --light-orange: #f78b00;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body { height: 100%;}
body { margin: 0; font-family: Manrope, sans-serif}
.xxl-text {
  font-size: 3rem;
}
.xl-text {
  font-size: 2rem;
}
.lg-text {
  font-size: 1.75rem;
}
.md-text {
  font-size: 1.25rem;
}
.lg-rounded {
  border-radius: 1rem;
}
.md-rounded {
  border-radius: .75rem;
}
.sm-rounded {
  border-radius: .5rem;
}
.horizontal-flip {
  transform: scaleX(-1);
}
.no-padding {
  padding: 0;
}
.custom-dialog-container .mat-dialog-container {
  outline: black solid 1px;
  background-color: #f8d7da;
}

